<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sprite_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{17,13}</string>
			<key>spriteSourceSize</key>
			<string>{17,13}</string>
			<key>textureRect</key>
			<string>{{1,1},{17,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{17,13}</string>
			<key>spriteSourceSize</key>
			<string>{17,13}</string>
			<key>textureRect</key>
			<string>{{20,1},{17,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{17,13}</string>
			<key>spriteSourceSize</key>
			<string>{17,13}</string>
			<key>textureRect</key>
			<string>{{39,1},{17,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sprite_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{17,13}</string>
			<key>spriteSourceSize</key>
			<string>{17,13}</string>
			<key>textureRect</key>
			<string>{{58,1},{17,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>Red_Bird.png</string>
		<key>size</key>
		<string>{272,52}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d80fa861b31181f08b2c737211199ba8:80bfd362e66ab79a588ba65230e1f04c:2e2ad933a1f1712071c203f9b073a961$</string>
		<key>textureFileName</key>
		<string>Red_Bird.png</string>
	</dict>
</dict>
</plist>
